<h1>Hackstronuats!</h1>

<p id='notice'><%= notice %></p>

<h2>Name</h2>
<p><%= @user.name %></p>

<h2>Skills</h2>
<p><%= @user.skills %></p>

<h2>Project</h2>
<p><%= @user.description %></p>

<%= link_to "go back", root_path %>
