<h1>Hackonauts!</h1>

<div id='projects'>
<h2>Projects</h2>
<div id='new_project_link'>
<%= link_to "New project?", controller: :projects, action: :new %>
</div>
<div class='row'>
<% @projects.each do |project| %>
  <a href="<%= project_path(project) %>">
    <div class='project col-xs-6 col-md-4'>
    <div class='project_img'>
      <% unless project.image_url.nil? %>
        <%= filepicker_image_tag project.image_url, w: 250, h: 250, fit: 'clip' %>
      <% end %>
    </div>
    <%= link_to "#{project.name}", project_path(project) %>
  </div>
  </a>
<% end %>
</div>
<%= will_paginate @projects %>
</div>

<div id='events'>
<h2>Events</h2>
<div id='new_event_link'>
<%= link_to "New event?", controller: :events, action: :new %>
</div>
<ul>
<% @events.each do |event| %>
  <li class='event'><%= link_to "#{event.name}", event_path(event) %> at <strong><%= event.location %></strong> on <strong><%= event.date.strftime("%B %e, %Y") %></strong></li>
<% end %>
</ul>
</div>
