<h1>Hackonauts!</h1>

<h2>Posts</h2>
<ul>
<% @posts.each do |post| %>
  <li><%= link_to "#{post.name}", post_path(post) %></li>
<% end %>
</ul>
<%= link_to "New post?", controller: :posts, action: :new %>

<h2>Projects</h2>
<ul>
<% @projects.each do |project| %>
  <li><%= link_to "#{project.name}", post_path(project) %></li>
<% end %>
</ul>
<%= link_to "New project?", controller: :projects, action: :new %>

<h2>Events</h2>
<ul>
<% @events.each do |event| %>
  <li><%= link_to "#{event.name}", post_path(event) %></li>
<% end %>
</ul>
<%= link_to "New event?", controller: :events, action: :new %>
