<section class="form pull-left">
<%= form_for(@event) do |f| %>
  <%= f.label :name, 'Event name' %>
  <%= f.text_field :name %>

  <%= f.label :description, 'What is this event about?' %>
  <%= f.text_area :description %>

  <%= f.label :tag_list, 'Tags (separated by commas)' %>
  <%= f.text_field :tag_list %>

  <%= f.label :location, 'Where is the event being held?' %>
  <%= f.text_field :location %>

  <%= f.label :date, 'When is the event?' %>
  <%= f.text_field :date, 'data-behavior' => 'datepicker' %>

  <%= f.submit 'Update Event', class: "btn btn-primary" %>
<% end %>
</section>

