<%= form_for(@event) do |f| %>
  <div class='form_wrapper'>
    <%= f.label :name, 'Event name' %>
    <%= f.text_field :name %>
  </div>

  <div class='form_wrapper'>
    <%= f.label :description, 'What is this event about?' %>
    <%= f.text_area :description %>
  </div>

  <div class='form_wrapper'>
    <%= f.label :location, 'Where is the event being held?' %>
    <%= f.text_field :location %>
  </div>

  <div class='form_wrapper'>
    <%= f.label :date, 'When is the event?' %>
    <%= f.datetime_select :date %>
  </div>

  <div class='form_wrapper'>
    <%= f.label :image_url, 'Upload a picture!' %>
    <%= f.filepicker_field :image_url, multiple: true, name: "event[image_url]" %>
  </div>

  <%= f.submit 'Post Event' %>
<% end %>
