<div id='events'>
<% if params[:tag] %>
  <h1><%= params[:tag].capitalize %> Events</h1>
<% else %>
  <h1>Events</h1>
<% end %>
<div class='new_or_edit_link'>
<%= link_to "New event?", controller: :events, action: :new %>
</div>
<ul>
<% @events.each do |event| %>
  <li class='event'><%= link_to "#{event.name}", event_path(event) %> at <strong><%= event.location %></strong> on <strong><%= event.date.strftime("%B %e, %Y") %></strong></li>
<% end %>
</ul>
</div>
