<h1><%= @event.name %></h1>
<div id='image_display'>
  <% unless @event.image_url %>
    <%= filepicker_image_tag @event.image_url, w: 200, h: 160, fit: 'clip' %>
  <% end %>
</div>
<p><%= h(@event.description).gsub(/\n/, '<br/>').html_safe %></p>

<p id="details">
  <% if @event.date %><strong><%= @event.date.strftime("%B %e, %Y") %></strong>
<% end %>
  <% if @event.location %><strong> @ <%= @event.location %></strong><% end %>
</p>

<div id='comments'>
  <h2>Comments</h2>
  <%= render(@comments) || "There are no comments yet." %>
  <div id='new_comment'>
    <%= link_to 'New Comment', [:new, @commentable, :comment] %>
  </div>
</div>

<div id='bottom_link'>
  <%= link_to "go back", root_path %>
</div>

