<h1><%= @event.name %></h1>
<% if current_user.events.include? @event %>
  <div class='new_or_edit_link'>
    <%= link_to "Edit event", edit_event_path %>
  </div>
<% end %>
<div id='image_display'>
  <% unless @event.image_url.nil? or @event.image_url.empty? %>
    <%= filepicker_image_tag @event.image_url %>
  <% end %>
</div>
<p><%= h(@event.description).gsub(/\n/, '<br/>').html_safe %></p>

<p class='tags'><%= @event.tag_list %></p>

<p id="details">
  <% if @event.date %><strong><%= @event.date.strftime("%B %e, %Y") %></strong>
<% end %>
  <% if @event.location %><strong> @ <%= @event.location %></strong><% end %>
</p>

<div id='comments'>
  <h2>Comments</h2>
  <%= render(@comments) || "There are no comments yet." %>
  <div id='new_comment'>
    <%= link_to 'New Comment', [:new, @commentable, :comment] %>
  </div>
</div>

<div id='bottom_link'>
  <%= link_to "go back", root_path %>
</div>

