<section class="form pull-left">
<%= form_for(@project) do |f| %>
  <%= f.label :name, 'Project name' %>
  <%= f.text_field :name %>

  <%= f.label :description, 'What are you working on?' %>
  <%= f.text_area :description %>

  <%= f.label :location, 'Where are you working on this? (optional)' %>
  <%= f.text_field :location %>

  <%= f.submit 'Update Project', class: "btn btn-primary" %>
<% end %>
</section>
