<%= form_for(@project) do |f| %>
  <div class='form_wrapper'>
    <%= f.label :name, 'Project name' %>
    <%= f.text_field :name %>
  </div>

  <div class='form_wrapper'>
    <%= f.label :description, 'What are you working on?' %>
    <%= f.text_area :description %>
  </div>

  <div class='form_wrapper'>
    <%= f.label :location, 'Where are you working on this? (optional)' %>
    <%= f.text_field :location %>
  </div>
  
  <div class='form_wrapper'>
    <%= f.label :image_url, 'Upload a picture!' %>
    <%= f.filepicker_field :image_url, multiple: true, name: "project[image_url]" %>
  </div>

  <%= f.submit 'Post Project' %>
<% end %>
