<h1><%= @project.name %></h1>
<div id='image_display'>
  <% unless @project.image_url.nil? %>
    <%= filepicker_image_tag @project.image_url %>
  <% end %>
</div>
<p><%= h(@project.description).gsub(/\n/, '<br/>').html_safe %></p>

<p id='details'>
<% if @project.location %><%= @project.location %>
<% end %>
</p>

<div id='comments'>
  <h2>Comments</h2>
  <%= render(@comments) || "There are no comments yet." %>
  <div id='new_comment'>
    <%= link_to 'New Comment', [:new, @commentable, :comment] %>
  </div>
</div>

<div id='bottom_link'>
  <%= link_to "go back", root_path %>
</div>
