<p id='notice'><%= notice %></p>

<h1><%= @post.name %></h1>
<p><%= h(@post.description).gsub(/\n/, '<br/>').html_safe %></p>

<div id='comments'>
  <h2>Comments</h2>
  <%= render(@comments) || "There are no comments yet." %>
  <div id='new_comment'>
    <%= link_to 'New Comment', [:new, @commentable, :comment] %>
  </div>
</div>

<div id='bottom_link'>
  <%= link_to "go back", root_path %>
</div>
